body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
    background: url('./img/997685e9aeeec607ca831d4aa10250b9.jpg') no-repeat;
    background-size: cover;
}

.timer-container {
    text-align: center;
    position: relative;
    width: 400px;
    height: 440px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    backdrop-filter: blur(20px);
    
}

#timer {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffff;
}

.buttons button {
    font-size: 1em;
    padding: 15px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

#start {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
}

#stop {
    background-color: #f44336;
    color: rgb(0, 0, 0);
}

#reset {
    background-color: #cad140;
    color: rgb(0, 0, 0);
}

#start:hover{
    background-color: #00ff08;
}

#stop:hover{
    background-color: #ff1100;
}

#reset:hover{
    background-color: #f2ff00;
}

h1{
    color: #ffff;
}